<h3> Edit Word</h3>

<form action="/techs/<%=@tech.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <p><label> Word Title: </p>
  <input id="name" name="name" type="text" value="<%=@tech.title%>">

  <p><label> Word Description: </p>
  <input id="description" type="text" name="description" value="<%=@tech.description%>">
  <br>
  <br>

  <button type="submit">Edit Tech Word</button>
</form>
<br>
<br>
