<h3> New Word</h3>

<form action="/techs" method="post">
  <p><label> Word Title: </p>
  <input id="title" name="title" type="text">

  <p><label> Word Description: </p>
  <input id="description" type="text" name="description">
  <br>
  <br>

  <button type="submit">Add Tech Word</button>
</form>
<br>
<br>
