<h3> Tech-Word</h3>

<form action="/techs" method="post">
  <p><label> Name: </p>
  <input id="title" name="title" type="text">
  <br>
  <br>
  <p><label> Tech-cription: </p>
  <input id="description" type="text" name="description">
  <br>
  <br>

  <button type="submit">Add Tech Word</button>
</form>
<br>
<br>
