<h3> Word</h3>

<form action="/techs" method="post">

  <label>Word Name:</label>
  <br>
  <input id="title" name="title" type="text">

  <h3> Word Descriptions</h3>

  <input id="description" type="text" name="description">
  <br>
  <br>

  <button type="submit">Add Tech Word</button>
</form>
<br>
<br>
