<h3> Hello, <%=current_user.username %></h3>
<h4> Techtionary Words </h4>
<p><% @user.words.each do |tech| %>
      <a href="/words/<%=tech.id%>"><%= word.title %>
        <%= word.description %>
    <%end%></p>
