<h3> Edit Tech-Word</h3>

<form action="/words/<%=@word.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <p><label> Name: </p>
  <input id="name" name="name" type="text" value="<%=@word.title%>">

  <p><label> Tech-cription: </p>
  <input id="description" type="text" name="description" value="<%=@word.description%>">
  <br>
  <br>

  <button type="submit">Edit Tech Word</button>
</form>
<br>
<br>
