<h2> Tech Words: </h2>
<h3><%= @word.title %></h3>

<p><%= @word.description %></p>
<br>


<form method="post" action="/words/<%=@word.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Word">
</form>

  <br>
  <a href="/words/<%=@word.id%>/edit">Edit Tech-Word</a>
  <br>
  <br>
  <a href="/words">Techtionary HomePage</a>
