<h5>We know tech jargons can be a lot to intake at once. </h5>
<h5>That's why here at Techtionary, we make it simple for you!</h5>
<h5> To create a tech-word click <a href="/words/new">here</a>!</h5>
<h3><%=current_user.username.capitalize %>'s Tech Words</h3>
<ol><% @user.words.each do |word| %>
      <li><a href="/words/<%=word.id%>"><%= word.title.capitalize %></li>
    <%end%></ol>
