<% if !logged_in? %>
  <h3>Welcome to Techtionary!!</h3>
  <h3><a href="/signup">Sign-Up</a> to learn more!</h3>
  <h3>Have an account? <a href="/login"> Sign In </a></h3>
<%else %>
  <h5>We know tech jargons can be a lot to intake at once. That's why you can create your own techtionary!</h5>
  <h5>To add a tech word to your tech-tionary click <a href="/techs/new">here</a>!</h5>
  <h5>To view your tech words click <a href="/techs/techs">here</a>!</h5>
<%end %>
